    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}" class="pagination__button pagination__button--prev link">
            <svg class="pagination__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.8327 9.99984H4.16602M4.16602 9.99984L9.99935 15.8332M4.16602 9.99984L9.99935 4.1665" stroke="black" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Предыдущий
        </a>
    {% endif %}

    <ul class="pagination__list">
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="pagination__item pagination__item--active">{{ num }}</li>
            {% else %}
                <li class="pagination__item"><a href="?page={{ num }}&{{ request.GET.urlencode }}" class="link pagination__item">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}" class="pagination__button pagination__button--next link">
            Следующий
            <span class="pagination__icon-wrapper">
            <svg class="pagination__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16602 9.99984H15.8327M15.8327 9.99984L9.99935 4.1665M15.8327 9.99984L9.99935 15.8332" stroke="black" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </span>
        </a>
    {% endif %}


   