{% extends 'header.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% load static %}
    <section class="error">
        <div class="container">
            <div class="error__container">
                <img class="error-img" src="{% static 'images/Illustration 404.svg' %}" alt="404Error">
                <span class="error-text">Упс! страница не найдена</span>
                <a class="link" href="{% url 'index' %}">
                    <button class="error-btn">Вернуться домой</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}