{% extends 'header.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
{% load static %}
    <section class="historylinks">
        <div class="container">
            <div class="historylinks__container">
                <div class="historylink">
                    <a class="link" href="{% url 'index' %}">Главная</a>
                    <img src="{% static 'images/icon/arrowLink.png' %}" alt="arrowLink">
                </div>

                <div class="historylink">
                    <a class="link active" href="{% url 'about' %}">О нас</a>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutUs">
        <div class="container">
            <div class="aboutUs__container">
                <h1 class="aboutUs__title"><span>Stranik</span> — опыт и команда, которым можно доверять</h1>
                <p class="aboutUs__subtitle">Мы гордимся своим опытом и сплочённой командой профессионалов. Наши эксперты ежедневно работают над тем, чтобы ваш творческий процесс был лёгким и удобным. Мы делаем всё, чтобы каждая деталь вашего проекта нашла идеальное решение!</p>
                <div class="aboutUs__characteristics">
                    <ul class="aboutUs__characteristic">
                        <li> Надёжность и качество</li>
                        <li> Индивидуальный подход</li>
                        <li> Простота использования</li>
                    </ul>

                    <ul class="aboutUs__characteristic">
                        <li> Удобство и комфорт</li>
                        <li> Забота о клиентах</li>
                        <li> Максимальная эффективность</li>
                    </ul>
                </div>

                <p class="aboutUs__description">Stranik — это современная онлайн-платформа, которая объединяет творческих профессионалов и владельцев уникальных ресурсов для съёмок. Наша цель — сделать процесс поиска и аренды локаций, оборудования и услуг простым, удобным и безопасным. Мы верим, что вдохновение не должно ограничиваться сложностями организации, поэтому создаём пространство, где все элементы для создания шедевров легко доступны.</p>
                <p class="aboutUs__description">Если вы владелец студии, оборудования или уникальной локации, Stranik поможет вам найти клиентов, заинтересованных в аренде. Мы предоставляем удобные инструменты для управления объявлениями, модерируем каждую публикацию и гарантируем, что ваше предложение будет заметно.</p>
                <p class="aboutUs__description">Для профессионалов в сфере фото- и видеопроизводства наша платформа станет незаменимым помощником. С помощью Stranik вы сможете быстро найти подходящее место или технику для реализации любого проекта — от камер и света до операторов и специализированных локаций.</p>
                <p class="aboutUs__description">Мы гордимся удобным интерфейсом, современным дизайном и функционалом, который удовлетворяет потребности всех пользователей. Вы можете фильтровать предложения по цене, рейтингу и популярности, оставлять отзывы, чтобы делиться своим опытом, и получать помощь нашей службы поддержки в случае любых вопросов.</p>
                <p class="aboutUs__description">Stranik — это не просто платформа, это сообщество, где креативность и профессионализм находят поддержку. Мы верим в силу идей и помогаем воплощать их в жизнь. Вместе мы создаём лучшие условия для творчества и вдохновения!</p>
            </div>
        </div>
    </section>
{% endblock %}