{% extends 'header.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% load static %}
    <section class="banner">
        <div class="container">
            <div class="banner__info">
                <h1 class="banner__title">
                    <span>STRANIK</span> - Лучший выбор для вашего творчества
                </h1>
                <p class="banner__description">Платформа Stranik создана для тех, кто ищет уникальные локации и оборудование для съёмок. Мы объединяем профессионалов в области фото и видеопроизводства с владельцами студий и техники, помогая находить лучшие решения для креативных проектов. Удобный поиск, прозрачная аренда и проверенные предложения — всё для вашего вдохновения.</p>
                
                <a class="link" href="{% url '404' %}"><button class="banner-btn">Смотреть больше</button></a>
                <div class="banner__numbers">
                    <div class="banner__number">
                        <span>500+</span>
                        <p>Студий</p>
                    </div>

                    <div class="banner__number">
                        <span>1,000+</span>
                        <p>Локаций</p>
                    </div>

                    <div class="banner__number" style="border-right: none">
                        <span>10,000+</span>
                        <p>Оборудование</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <div class="container">
            <div class="partners__images">
                <a class="link" href="https://octopus.kz/" target="_blank">
                    <img class="partner-image" src="{% static 'images/octopus-logo.png' %}" alt="partner-image">
                </a>

                <a class="link" href="https://video-foto.kz/" target="_blank">
                    <img class="partner-image" src="{% static 'images/AR-Media-logo.png' %}" alt="partner-image">
                </a>

                <a class="link" href="https://sintezstudio.kz/" target="_blank">
                    <img class="partner-image" src="{% static 'images/Sintez-studio_WHITE 1.png' %}" alt="partner-image">
                </a>

                <a class="link" href="https://lic.kz/" target="_blank">
                    <img class="partner-image" src="{% static 'images/LC-Production-logo.png' %}" alt="partner-image">
                </a>

                <a class="link" href="https://expertvideo.kz/prodakshn" target="_blank">
                    <img class="partner-image" src="{% static 'images/Expertvideo.kz-logo.png' %}" alt="partner-image">
                </a>
            </div>
        </div>
    </section>

    <section class="catalog">
        <div class="container">
            <h1 class="main__title">Новые локации</h1>
            <div class="catalog__blocks">

                {% for rent in rents %}
                <div class="catalog__block">
                    <a href="404.html" class="link">
                    <img src="{{ rent.image.url }}" alt="T-Shirt">
                    <div class="block__info">
                        <span class="block__info-name">{{ rent.title }}</span>
                        <div class="block__info-grade">Оценка: {{ rent.pop }}/5</div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <a class="link viewAll-btns" href="{% url '404' %}"><button class="viewAll-btn">Просмотреть все</button></a>
        </div>
    </section>

    <section class="catalog">
        <div class="container" style="border-top: 1px solid #DAD8D9;">
            <h1 class="main__title">Топ услуг</h1>
            <div class="catalog__blocks">

                <div class="catalog__block">
                    <a href="404.html" class="link">
                    <img src="{% static 'images/vybor-lokacii-pered-tem-kak-snyat-klip.jpg' %}" alt="T-Shirt">
                    <div class="block__info">
                        <span class="block__info-name">Клип под ключ</span>
                        <div class="block__info-grade">Оценка: 3.5/5</div>
                        <span class="block__info-price">от 500$ до 5000$</span>
                    </div>
                    </a>
                </div>
                <div class="catalog__block">
                    <a href="404.html" class="link">
                    <img src="{% static 'images/IMG_7108.jpg' %}" alt="T-Shirt">
                    <div class="block__info">
                        <span class="block__info-name">Рекламный ролик</span>
                        <div class="block__info-grade">Оценка: 3.5/5</div>
                        <span class="block__info-price">1000$</span>
                    </div>
                    </a>
                </div>

                <div class="catalog__block">
                    <a href="404.html" class="link">
                    <img src="{% static 'images/main____shutterstock_572417980.fznctlqsy4ky.jpg' %}" alt="T-Shirt">
                    <div class="block__info">
                        <span class="block__info-name">Кастинг массовки</span>
                        <div class="block__info-grade">Оценка: 3.5/5</div>
                        <span class="block__info-price">300$</span>
                    </div>
                    </a>
                </div>

                <div class="catalog__block">
                    <a href="404.html" class="link">
                    <img src="{% static 'images/news_202107130592623320.jpg' %}" alt="T-Shirt">
                    <div class="block__info">
                        <span class="block__info-name">Подбор съемочной команды</span>
                        <div class="block__info-grade">Оценка: 3.5/5</div>
                        <span class="block__info-price">600$</span>
                    </div>
                    </a>
                </div>
            </div>

            <a class="link viewAll-btns" href="404.html"><button class="viewAll-btn">Просмотреть все</button></a>
        </div>
    </section>

{% endblock %}