{% extends 'header.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
{% load static %}
    <section class="historylinks">
        <div class="container">
            <div class="historylinks__container">
                <div class="historylink">
                    <a class="link" href="index.html">Главная</a>
                    <img src="{% static 'images/icon/arrowLink.png' %}" alt="arrowLink">
                </div>

                <div class="historylink">
                    <a class="link active" href="{% url 'signUp' %}">Регистрация</a>
                </div>
            </div>
        </div>
    </section>

    <section class="forms">
        <div class="container">
            <div class="form__container">
                <div class="form__headlines">
                    <p class="headlines__name">Регистрация</p>
                </div>

                <form class="form" method="POST">
                    {% csrf_token %}
                
                    <div class="form__input form__input-duo">
                        {{ form.first_name }}
                        {{ form.last_name }}
                    </div>
                
                    <div class="form__input">
                        {{ form.email }}
                    </div>
                
                    <div class="form__input">
                        {{ form.password1 }}
                        <button type="button" class="password-toggle" onclick="toggleBothPasswords(this)">
                            
                        </button>
                    </div>
                
                    <div class="form__input">
                        {{ form.password2 }}
                        <button type="button" class="password-toggle" onclick="toggleBothPasswords(this)">
                            
                        </button>
                    </div>
                
                    <div class="form__button">
                        <button class="form-btn" type="submit">Регистрация</button>
                    </div>
                </form>
                {% if form.errors %}
                    <div class="form-errors">
                        {% for field, errors in form.errors.items %}
                            <p>{{ field }}: {{ errors.0 }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form__description">
                    <p>У вас уже есть аккаунт?<a class="link" href="{% url 'login' %}"> Авторизоваться</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}