{% extends 'header.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
{% load static %}
    <section class="historylinks">
        <div class="container">
            <div class="historylinks__container">
                <div class="historylink">
                    <a class="link" href="index.html">Главная</a>
                    <img src="{% static 'images/icon/arrowLink.png' %}" alt="arrowLink">
                </div>

                <div class="historylink">
                    <a class="link active" href="{% url 'signUp' %}">Регистрация</a>
                </div>
            </div>
        </div>
    </section>

    <section class="forms">
        <div class="container">
            <div class="form__container">
                <div class="form__headlines">
                    <p class="headlines__name">Регистрация</p>
                </div>

                <form class="form" action="/login" method="POST">
                    <div class="form__input form__input-duo">
                        <input type="text" id="name" name="name" placeholder="Имя" required>
                        <input type="text" id="lastName" name="lastName" placeholder="Фамилия" required>
                    </div>
                    <div class="form__input">
                        <input type="text" id="gmail" name="gmail" placeholder="Электронная почта" required>
                    </div>

                    <div class="form__input">
                        <input type="phone" id="number" name="number" placeholder="Номер телефона" style="background-image: url('images/icon/number.png');" required>
                    </div>

                    <div class="form__input">
                        <input type="password" id="password" name="password" placeholder="Пароль" required>
                        <button type="button" class="password-toggle" onclick="toggleBothPasswords(this)">
                            <img src="{% static 'images/icon/eye-icon.svg' %}" alt="Показать пароль">
                        </button>
                    </div>
                    
                    <div class="form__input">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Подтвердите пароль" required>
                        <button type="button" class="password-toggle" onclick="toggleBothPasswords(this)">
                            <img src="{% static 'images/icon/eye-icon.svg' %}" alt="Показать пароль">
                        </button>
                    </div>

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="userType" id="user" class="radio-btn">
                            <span>Обычный пользователь</span>
                        </label>
                        <label>
                            <input type="radio" name="userType" id="equipmentProvider" class="radio-btn">
                            <span>Арендодатель оборудования</span>
                        </label>
                        <label>
                            <input type="radio" name="userType" id="locationProvider" class="radio-btn">
                            <span>Арендодатель локаций, студий и помещений</span>
                        </label>
                    </div>

                    <div class="form__button">
                        <button class="form-btn" type="submit">Вход</button>
                    </div>
                </form>

                <div class="form__description">
                    <p>У вас уже есть аккаунт?<a class="link" href="{% url 'login' %}"> Авторизоваться</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}